useDynLib(ClustVarLV)
import(Rcpp)
##Exported functions:
export(CLV,CLV_kmeans,descrip_gp,gpmb_on_pc,LCLV,print.clv,print.clvkmeans,print.lclv)
S3method(print,clv)
S3method(print,clvkmeans)
S3method(print,lclv)