
useDynLib(ClustVarLV)

S3method(plot,clv)
S3method(plot,lclv)
S3method(print,clv)
S3method(print,lclv)
export(CLV)
export(CLV_kmeans)
export(LCLV)
export(data_biplot)
export(get_comp)
export(get_load)
export(get_partition)
export(plot_var)
export(stand_quali)
export(summary_clv)

importFrom(Rcpp, evalCpp)
